<template>
  <div class="filter">
    <div class="filter__container">
      <div class="filter__menu menu">
        <button class="menu__clean" @click="clear">Очистить</button>
        <p class="menu__title">Фильтр</p>
        <button @click="close" class="menu__close">Закрыть</button>
      </div>
      <div class="filter__stage stage">
        <h4 class="stage__title">Стадии проекта</h4>
        <div class="stage__items">
          <div v-bind:key="item.text" v-for="item in type_project_list" class="stage__item">
            <input
              @click="selectTypeProjects(item.value)"
              v-bind:value="item"
              v-bind:id="item.text"
              :checked="type_project_selected == item.value"
              type="radio"
            />
            <label v-bind:for="item.text">{{item.text}}</label>
          </div>
        </div>
      </div>
      <div class="filter__sphere sphere">
        <h4 class="sphere__title">Сфера применения</h4>
        <div class="sphere__items">
          <div v-if="!(flag_stopPreload) && categories.length == 0" class="filter__preloader-shell">
            <Preloader class="filter__preloader" />
          </div>
          <div v-if="flag_stopPreload && categories.length == 0" class="filter__placeholder">
            <div class="filter__itemsNotFound">
              <p>Нет категорий</p>
            </div>
          </div>
          <div v-for="elem in categories" :key="elem.id" class="sphere__item">
            <input
              type="checkbox"
              class="sphere__custom-checkbox"
              @click="selectCategory(elem.id, $event)"
              :checked="selected_category.indexOf(elem.id) != -1"
              :id="elem.id"
              :value="elem.id"
            />
            <label :for="elem.id">{{elem.category}}</label>
          </div>
        </div>
        <customButton
          class="filter__sphere-accept-btn"
          :buttonType="'blue'"
          :name="'применить'"
          :func="close"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Preloader from "../Preloader";
import customButton from "@/components/customButton";

export default {
  name: "CatalogFilter",
  props: {
    type_project_list: Array,
    type_project_selected: String,
    clear: Function,
    selected_category: Array,
    selectTypeProjects: Function,
    selectCategory: Function
  },
  data() {
    return {
      selectedStages: null,
      flag_stopPreload: false,
      flag_categoryOut: false
    };
  },

  components: {
    Preloader,
    customButton
  },

  computed: {
    categories() {
      return this.$store.getters.getCategories;
    }
  },

  watch: {
    categories() {
      this.flag_stopPreload = !this.flag_stopPreload;
    }
  },

  created() {
    window.addEventListener("click", this.outClick);
  },
  mounted() {
    // this.$refs.radio[0].checked = true;
    if (this.categories.length == 0) {
      this.$store.dispatch("laodCategoriesList");
    }
  },

  destroyed() {
    window.removeEventListener("click", this.outClick);
  },
  methods: {
    close() {
      return this.$emit("closeFilter");
    },
    selectStage() {
      this.$parent.selectTypeProjects(this.selectedStages.value);
    },
    outClick(event) {
      if (event.target.className == "filter") {
        this.close();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  background-color: unset;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
$horisontalPadding: 2rem;

.filter {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100vw;
  background: rgba(59, 71, 125, 0.5);
  display: flex;
  justify-content: flex-end;
}
.filter__container {
  width: 100%;
  max-width: 370px;
  background: #08082e;
  box-shadow: 0px -9px 20px rgba(0, 0, 0, 0.28);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.88rem $horisontalPadding;
}

.menu__clean,
.menu__close {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #8c9ecc;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    color: #d3e4fd;
  }
}

.menu__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d3e4fd;
}
.stage {
  background-color: #0b0e3c;
  padding: 1.88rem $horisontalPadding;
  margin-bottom: 0.71rem;
}
.stage__title {
  font-family: Benzin-Bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f9f9f9;
  margin-bottom: 1.25rem !important;
}
.stage__item {
  margin-bottom: 0.71rem;
  position: relative;

  input {
    cursor: pointer;
  }
  label {
    cursor: pointer;
    bottom: 1px;
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 114.02%;
    padding-left: 0.5rem;
    color: #8c9ecc;
  }
}

.sphere {
  background-color: #0b0e3c;
  padding: 1.88rem $horisontalPadding;
}

.sphere__title {
  font-family: Benzin-Bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f9f9f9;
  margin-bottom: 1.25rem !important;
}

.sphere__items {
  position: relative;
}

.sphere__item {
  margin-bottom: 0.71rem;
}

.sphere__item .sphere__custom-checkbox {
  margin-right: 0.7rem;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sphere__item label {
  cursor: pointer;
  color: #8c9ecc;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 114.02%;
}

.sphere__custom-checkbox + label::before {
  position: relative;
  top: 0.14rem;
  content: "";
  display: inline-block;
  width: 1.07em;
  height: 1.07em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.sphere__custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url('data:image/svg+xml;utf8, <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.4514 6.13967L1.39327 4.08154L0.509521 4.96529L3.4514 7.90717L9.51827 1.84029L8.63452 0.956543L3.4514 6.13967Z" fill="white"/></svg>');
}

.sphere__custom-checkbox:checked + label {
  color: #fff;
}

.filter__placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Benzin-Bold;
  font-size: 1.29rem;
  line-height: 125.2%;
  color: #f7fcff;
}

.filter__preloader-shell {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter__sphere-accept-btn {
  margin-top: 40px;
}
</style>