<template>
  <div class="sidebar">
    <div class="sidebar__content">
      <button type="button" @click="toggleModalSulutions" class="sidebar__button">Предложить решение</button>
      <button type="button" @click="showFilter" class="sidebar__button-filter">Фильтр</button>

      <div ref="list" class="sidebar__list">
        <div v-if="!(flag_stopPreload) && categories.length == 0" class="Catalog__preloader-shell">
          <Preloader class="Catalog__preloader" />
        </div>
        <div v-if="flag_stopPreload && categories.length == 0" class="Catalog__placeholder">
          <div class="Catalog__itemsNotFound">
            <p>Нет категорий</p>
          </div>
        </div>

        <div v-for="elem in categories" :key="elem.id" class="sidebar__item">
          <input
            type="checkbox"
            class="sidebar__custom-checkbox"
            @click="selectCategory(elem.id, $event)"
            :checked="selected_category.indexOf(elem.id) != -1"
            :id="elem.id"
            :value="elem.id"
          />
          <label :for="elem.id">{{elem.category}}</label>
        </div>
      </div>
    </div>

    <AddSolutionsModal :close="toggleModalSulutions" v-if="flag_modal_sulutions" />
  </div>
</template>

<script>
// import CatalogFilter from "./CatalogFilter";
import AddSolutionsModal from "../modals/AddSolutions";
import Preloader from "../Preloader";

export default {
  name: "Sidebar",
  props: ["idCategory", "selected_category", "selectCategory"],
  data() {
    return {
      flag_modal_sulutions: false,
      list: null,
      flag_stopPreload: false,
      flag_categoryOut: false
    };
  },
  components: {
    AddSolutionsModal,
    Preloader
  },
  computed: {
    categories() {
      return this.$store.getters.getCategories;
    }
  },
  watch: {
    categories() {
      this.flag_stopPreload = !this.flag_stopPreload;
    }
  },
  mounted() {
    this.list = this.$refs.list;
    if (window.innerWidth <= 480) {
      this.list.style.height = "0px";
    }

    if (this.categories.length == 0) {
      this.$store.dispatch("laodCategoriesList");
    }
  },
  methods: {
    showFilter() {
      return this.$emit("openFilter");
    },
    toggleModalSulutions() {
      this.flag_modal_sulutions = !this.flag_modal_sulutions;
    },
    showList() {
      if (this.list.style.height === "0px") {
        this.list.style.height = "auto";
      } else {
        this.list.style.height = "0px";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.sidebar__out {
  margin-bottom: 1.64rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1.14rem;

  line-height: 114.02%;
  /* or 18px */
  /* #AFBEE4 */
  color: #8c9ecc;
}

.sidebar {
  /* rgba(56, 93, 249, 0.07); */
  background: #0b0e3c;
  width: 100%;
  height: auto;
}

.sidebar__content {
  padding: 1.5rem;
}

.sidebar__button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  background: #395df6;
  padding: 12.5px 15px;
  width: 100%;
  margin-bottom: 1.27rem;
  text-transform: uppercase;
}
.sidebar__button:hover {
  background: rgba(56, 93, 249, 0.3);
}

.sidebar__button-filter {
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1px solid #8c9ecc;
  border-radius: 1px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  background: rgb(15, 15, 44);
  padding: 12.5px 15px;
  width: 100%;
  margin-bottom: 1rem;
  &:hover {
    background: #ffffff;
    color: #272764;
  }
}

.sidebar__list {
  position: relative;
  height: 100%;
  transition: 0.5s;
}

.sidebar__item {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.64rem;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 114.02%;
  /* or 18px */
  /* #AFBEE4 */
  color: #8c9ecc;
  z-index: 2;
}

.sidebar__item .sidebar__custom-checkbox {
  margin-right: 0.7rem;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.sidebar__item label {
  cursor: pointer;
}

.sidebar__custom-checkbox + label::before {
  position: relative;
  top: 0.14rem;
  content: "";
  display: inline-block;
  width: 1.07em;
  height: 1.07em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.sidebar__custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url('data:image/svg+xml;utf8, <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.4514 6.13967L1.39327 4.08154L0.509521 4.96529L3.4514 7.90717L9.51827 1.84029L8.63452 0.956543L3.4514 6.13967Z" fill="white"/></svg>');
}

.sidebar__custom-checkbox:checked + label {
  color: #fff;
}

.sidebar__subitem {
  margin-bottom: 1.21rem;
  font-size: 1rem;
  font-weight: normal;
}

.Catalog__placeholder {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Benzin-Bold;
  font-size: 1.29rem;
  line-height: 125.2%;
  color: #f7fcff;
}

.Catalog__preloader-shell {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .sidebar {
    background: rgb(15, 15, 44);
    width: 100%;
    height: auto;
  }

  .sidebar__button {
    font-size: 12px;
    line-height: 15px;
  }

  .sidebar__button-filter {
    display: block;
    font-size: 12px;
    line-height: 15px;
  }
  .sidebar__list {
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
  }
  .sidebar__content {
    padding: 2.07rem 0rem;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>