<template>
  <Modal :text_header="'Новое решение'" :close="close" solutions>
    <form action method="post" @submit.prevent="submit" class="form">
      <div class="fields">
        <div role="group" class="group w-100 text-left">
          <label for="name_project">Название решения</label>
          <b-form-input id="name_project" v-model="name_project" class="inp-item" trim required></b-form-input>
        </div>

        <div role="group" class="group w-100 text-left">
          <label for="link">Сайт</label>
          <b-form-input id="link" v-model="link" class="inp-item" trim required></b-form-input>
        </div>

        <div role="group" class="group w-100 text-left">
          <label for="desc_project">Описание решения</label>
          <b-form-textarea
            id="textarea"
            required
            v-model="desc_project"
            class="inp-item AddSolutions__placeholder"
            placeholder="Краткое описание идеи проекта и примение проекта ( до 350символов)"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </div>

        <div role="group" class="group w-100 text-left">
          <label for="category_project">Сфера применения</label>

          <b-form-select id="category_project" required v-model="category_project" :options="categories"></b-form-select>
        </div>

        <div role="group" class="group w-100 text-left">
          <label for="type_project">Тип проекта</label>

          <b-form-select id="type_project" required v-model="type_project" :options="type_project_list"></b-form-select>
        </div>

        <div role="group" class="group w-100 text-left">
          <b-form-checkbox
            id="checkbox"
            v-model="check_box"
            required
            name="checkbox"
            value="accepted"
            class="text-style AddSolutions-text-accept"
            unchecked-value="not_accepted"
          >Даю свое согласие на обработку персональных данных и принимаю условия Пользовательского соглашения</b-form-checkbox>
        </div>
      </div>

      <div class="button">
        <button type="submit" class="btn btn-login">Отправить</button>
      </div>
    </form>

    <InfoModal
      :close="toggleStatusModal"
      :callback="callback"
      v-if="flag_status"
      :name="name_status"
      :text="text_status"
      button
    />
  </Modal>
</template>

<script>
import Modal from "./Modal";
import { project } from "@/modules/helper";
import InfoModal from "./info/Modal";

export default {
  name: "AddSolutions",
  props: ["close"],
  data() {
    return {
      name: undefined,
      email: undefined,
      name_project: undefined,
      desc_project: undefined,
      link: undefined,
      callback: undefined,
      category_project: 1,
      type_project: 'Идея',
      type_project_list: [
        {text: 'Идея', value: 'Идея'},
        {text: 'Стартап', value: 'Стартап'},
        {text: 'Среднее предприятие', value: 'Среднее предприятие'},
        {text: 'Крупное предприятие', value: 'Крупное предприятие'}
      ],
      check_box: false,

      flag_status: false,
      text_status: undefined,
      name_status: undefined
    };
  },
  components: {
    Modal,
    InfoModal
  },
  computed: {
    userData() {
      const user = window.localStorage.getItem('user')
      return JSON.parse(user);
    },
    categories() {
      const data = this.$store.getters.getCategories;
      let sort_data = [];

      data.forEach(el => {
        sort_data.push({text: el.category, value: el.id});
      });

      return sort_data;
    }
  },
  mounted() {
    if (this.categories.length == 0) {
      this.$store.dispatch('laodCategoriesList')
    }
        
    const local_data = window.localStorage.getItem('solution-data')

    if (local_data) {
      const data = JSON.parse(local_data)

      this.link = data.link
      this.name_project = data.title
      this.desc_project = data.text
      this.category_project = data.category
      this.type_project = data.type_project
    }
  },
  methods: {
    async submit() {
      const data = {
        user: undefined,
        link: this.link || "none",
        title: this.name_project,
        text: this.desc_project,
        category: this.category_project,
        type_project: this.type_project
      }

      if (this.userData) {
        data.user = this.userData.id

        project.addProject(data)
          .then((res) => {
            window.localStorage.removeItem('solution-data')

            this.name_status = "Заявка отправлена";
            this.callback = this.close;
            this.text_status =
              "Вы отправили заявку на размещение в каталоге решений свой новый проект, заявка будет рассматриваться в течении 1-3 рабочих дней, подверждение пришлем на вашу почту.";
            this.toggleStatusModal();

            this.$store.dispatch("laodProjectsList");
          }).catch((err) => {
            console.log("Ошибочка");

            this.name_status = "Ой Ошибочка";
            this.text_status = "Повторите попытку позже";

            this.toggleStatusModal();
          });
      } else {
        this.name_status = "Ой Ошибочка";
        this.text_status = "Чтобы предложить решение Вам нужно зарегистрироваться или авторизоваться!";

        let json = JSON.stringify(data)
        
        window.localStorage.setItem('solution-data', json)

        this.toggleStatusModal();
      }
    },
    toggleStatusModal() {
      this.flag_status = !this.flag_status;
    }
  }
};
</script>

<style lang="scss" scoped>
label {
  font-family: "Inter";
  margin-bottom: 0.25rem;
}
.form {
  height: 100%;
  width: 100%;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 0 3vh 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.group {
  margin-top: 2vh;
}
.group > label {
  font-family: Inter;
  font-size: 1rem;
}
.custom-control-label {
  font-family: Inter;
}

.AddSolutions-text-accept {
  font-size: 0.86rem !important;
  line-height: 130%;
  color: #8c9ecc;
}
.inp-item {
  border: 1px solid #8c9ecc;
  height: 4.5vh;
  padding-left: 1vh;
  border-radius: 0;
}
.AddSolutions__placeholder {
  &::placeholder {
    font-size: 1rem;
    line-height: 130%;

    color: #c0c8db;
  }
}
.fields {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.field-check {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 2vh;
  width: 100%;
}
.field-check > input {
  margin-right: 1vh;
}
.field-check > label {
  color: #afbee4;
  font-family: Inter;
  font-size: 1rem;
}
.restore-pass {
  margin-top: 3vh;
  color: rgba(56, 93, 249, 1);
  font-size: 1rem;
  font-family: Inter;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.button {
  width: 100%;
  margin-top: 4vh;
}
.btn {
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  width: 85%;
}
.btn-login {
  background: rgba(56, 93, 249, 1);
  padding: 1vh;
  margin-right: 0.8rem;
}
.btn-registry {
  border: 1px solid rgba(140, 158, 204, 1);
  background: #fff;
  color: rgba(39, 39, 100, 1);
  padding: calc(1vh + 2px);
  margin-top: 2vh;
}
.text-style {
  font-size: 1rem;
  font-family: Inter;
}
</style>