<template>
  <Modal :text_header="'Авторизация'" :close="close" :open_reg="open_reg">
    <form action method="post" @submit.prevent="submit" class="form">
      <div class="fields">
        <div class="field">
          <label for="email">Электронная почта</label>
          <input type="email" name="email" id="email" v-model="email" required />
        </div>

        <div v-on:click="showPassword($event)" class="field">
          <!-- Элементы местами не менять -->
          <label for="pass">Пароль</label>
          <input type="password" name="pass" id="pass" v-model="pass" required />
          <div class="pass-show">
            <svg
              width="20"
              height="13"
              viewBox="0 0 20 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8983 5.82562C17.916 2.32922 14.2119 0 9.99999 0C5.78948 0 2.08452 2.32824 0.101631 5.82559C-0.033877 6.06465 -0.033877 6.35723 0.101631 6.59625C2.08397 10.0927 5.78808 12.4219 9.99999 12.4219C14.2105 12.4219 17.9155 10.0936 19.8983 6.59629C20.0339 6.35723 20.0339 6.06465 19.8983 5.82562ZM9.99999 10.8594C6.52073 10.8594 3.4494 9.01484 1.69077 6.21094C3.44874 3.40809 6.51933 1.5625 9.99999 1.5625C13.4792 1.5625 16.5506 3.40703 18.3092 6.21094C16.5512 9.01379 13.4807 10.8594 9.99999 10.8594Z"
                fill="#D3D3D3"
              />
              <path
                d="M10 3.26562C8.49227 3.26562 7.26562 4.49227 7.26562 6C7.26562 7.50773 8.49227 8.73438 10 8.73438C11.5077 8.73438 12.7344 7.50773 12.7344 6C12.7344 4.49227 11.5077 3.26562 10 3.26562ZM10 7.17188C9.35383 7.17188 8.82812 6.64617 8.82812 6C8.82812 5.35383 9.35383 4.82812 10 4.82812C10.6462 4.82812 11.1719 5.35383 11.1719 6C11.1719 6.64617 10.6462 7.17188 10 7.17188Z"
                fill="#D3D3D3"
              />
            </svg>
          </div>
        </div>

        <div class="restore-pass">Восстановить пароль</div>
      </div>

      <div class="button">
        <button type="submit" class="btn btn-login">Войти</button>
        <button type="button" class="btn btn-registry" @click="open_reg">Регистрация</button>
      </div>
    </form>


    <div class="button mt-0 mb-4">
      <button type="submit" class="btn btn-login" @click="testUse">Тестовое использование</button>
    </div>

    <InfoModal
      :close="toggleStatusModal"
      v-if="flag_status"
      :callback="undefined"
      :name="name_status"
      :text="text_status"
      button
    />
  </Modal>
</template>

<script>
import Modal from "./Modal";
import { user } from "@/modules/helper";
import Cookies from "vue-cookies";
import InfoModal from "./info/Modal";

export default {
  name: "Login",
  props: ["close", "open_reg"],
  data() {
    return {
      email: undefined,
      pass: undefined,

      flag_status: false,
      name_status: undefined,
      text_status: undefined,

      callback: undefined
    };
  },
  components: {
    Modal,
    InfoModal
  },
  methods: {
    toggleStatusModal() {
      this.flag_status = !this.flag_status;
    },
    async submit() {
      const data = {
        email: this.email,
        password: this.pass
      };

      const res = await user.login(data)

      if (res.data.error == "user not found") {
        this.name_status = "Ой Ошибочка";
        this.text_status = "Кажется вы не зарегистрировались(";
        this.toggleStatusModal();
      } else if (res.data.error == "password failed") {
        this.name_status = "Ой Ошибочка";
        this.text_status = "Пароль не верный!";
        this.toggleStatusModal();
      } else {
        window.localStorage.setItem('user', JSON.stringify(res.data))
        this.callback = this.reloadPage()
        this.close()
      }
    },

    showPassword(elem) {
      if (
        elem.target.closest("div").className == "pass-show" ||
        elem.target.closest("div").className == "pass-show pass-show-active"
      ) {
        if (elem.currentTarget.childNodes[1].type == "password") {
          elem.currentTarget.childNodes[1].setAttribute("type", "text");
          elem.currentTarget.childNodes[2].classList.add("pass-show-active");
        } else {
          elem.currentTarget.childNodes[1].setAttribute("type", "password");
          elem.currentTarget.childNodes[2].classList.remove("pass-show-active");
        }
      }
    },
    reloadPage() {
      window.location.reload()
    },
    testUse() {
      this.email = 'test@test.ru';
      this.pass = 'testtestUSER';

      this.submit();
    }
  }
};
</script>

<style lang="scss" scoped>
.pass-show-active {
  svg {
    path {
      fill: #385df9;
    }
  }
}

.pass-show {
  position: absolute;
  right: 1%;
  top: 52%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    path {
      transition: 0.3s;
    }
  }
}

.form {
  height: 100%;
  width: 100%;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.fields {
  width: 85%;
}
.field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2vh;
}
.field > label {
  font-size: 1rem;
  font-family: Inter;
}
.field > input {
  border: 1px solid #8c9ecc;
  height: 4.5vh;
  width: 100%;
  padding-left: 1vh;
}
.restore-pass {
  opacity: 0.4; // temp
  margin-top: 3vh;
  color: rgba(56, 93, 249, 1);
  font-size: 1rem;
  font-family: Inter;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.button {
  width: 85%;
  margin-top: 4vh;
}
.btn {
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}
.btn-login {
  background: rgba(56, 93, 249, 1);
  padding: 1vh;
  margin-right: 0.8rem;
}
.btn-registry {
  border: 1px solid rgba(140, 158, 204, 1);
  background: #fff;
  color: rgba(39, 39, 100, 1);
  padding: calc(1vh + 2px);
  margin-top: 2vh;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .fields {
    width: 90%;
  }

  .button {
    width: 90%;
  }

  .form {
    justify-content: end !important;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>