<template>
  <keep-alive>
    <transition name="fade">
      <div class="modal" 
        @click.self="closePopup"
      >
        <div class="main-block" :style="{width: solutions?'65vw':'55vw'}">
          <div class="left" :class="{sol: solutions}" :style="{width: solutions?'40%':'50%'}">
            <div class="wrapper">
              <router-link to="#" class="logo">
                <img src="@/assets/img/logonew.png" width="100%" height="100%" alt />
              </router-link>

              <div v-if="solutions">
                <h1 class="title">
                  Расскажите
                  <br />о своем проекте
                </h1>
                <p class="text">
                  для этого заполни форму добавления
                  <br />решения в каталог
                </p>
              </div>

              <div v-else>
                <h1 class="title text-center">добро пожаловать</h1>
                <p class="text text-center">на платформу инноваций для бизнеса</p>
                <p
                  class="login-text text-center"
                  @click="open_log"
                  v-if="flag_left_text"
                >Уже есть аккаунт?</p>
              </div>
            </div>

            <ul class="list-elem">
              <li>
                <svg
                  width="22"
                  height="13"
                  viewBox="0 0 22 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.602 8.75952L12.014 10.1715L20.48 1.70552L21.894 3.11952L12.014 12.9995L5.65 6.63552L7.064 5.22152L9.189 7.34652L10.602 8.75852V8.75952ZM10.604 5.93152L15.556 0.978516L16.966 2.38852L12.014 7.34152L10.604 5.93152ZM7.777 11.5865L6.364 12.9995L0 6.63552L1.414 5.22152L2.827 6.63452L2.826 6.63552L7.777 11.5865Z"
                    fill="#D3E4FD"
                  />
                </svg>
                Все инновации на одном ресурсе
              </li>

              <li>
                <svg
                  width="22"
                  height="13"
                  viewBox="0 0 22 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.602 8.75952L12.014 10.1715L20.48 1.70552L21.894 3.11952L12.014 12.9995L5.65 6.63552L7.064 5.22152L9.189 7.34652L10.602 8.75852V8.75952ZM10.604 5.93152L15.556 0.978516L16.966 2.38852L12.014 7.34152L10.604 5.93152ZM7.777 11.5865L6.364 12.9995L0 6.63552L1.414 5.22152L2.827 6.63452L2.826 6.63552L7.777 11.5865Z"
                    fill="#D3E4FD"
                  />
                </svg>
                Размещение инноваций в каталоге
              </li>

              <li>
                <svg
                  width="22"
                  height="13"
                  viewBox="0 0 22 13"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.602 8.75952L12.014 10.1715L20.48 1.70552L21.894 3.11952L12.014 12.9995L5.65 6.63552L7.064 5.22152L9.189 7.34652L10.602 8.75852V8.75952ZM10.604 5.93152L15.556 0.978516L16.966 2.38852L12.014 7.34152L10.604 5.93152ZM7.777 11.5865L6.364 12.9995L0 6.63552L1.414 5.22152L2.827 6.63452L2.826 6.63552L7.777 11.5865Z"
                    fill="#D3E4FD"
                  />
                </svg>
                Удобный поиск решений
              </li>
            </ul>
          </div>

          <div class="right" :style="{width: solutions?'60%':'50%'}">
            <div class="header-modal">
              <h1 class="text-left">{{text_header}}</h1>

              <div class="close" @click="closePopup">
                <svg
                  width="15"
                  height="14"
                  viewBox="0 0 15 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.61625 7L14.1562 12.54V14H12.6963L7.15625 8.46L1.61625 14H0.15625V12.54L5.69625 7L0.15625 1.46V0H1.61625L7.15625 5.54L12.6963 0H14.1562V1.46L8.61625 7Z"
                    fill="#C4C4C4"
                  />
                </svg>
              </div>
            </div>

            <slot></slot>
          </div>
        </div>
      </div>
    </transition>
  </keep-alive>
</template>

<script>
export default {
  name: "Modal",
  props: {
    flag_left_text: Boolean,
    open_log: Function,
    close: Function,
    solutions: Boolean,
    text_header: String
  },
  created() {
  },
  methods: {
    closePopup() {
      this.close()
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(59, 71, 125, 0.5);
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}
.main-block {
  width: 55vw;
  min-height: 55vh;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.28);
  border-radius: 1px;
}
.sol {
  background-image: url("../../assets/img/solutions-background.png") !important;
}
.left {
  width: 50%;
  background-image: url("../../assets/img/login-background.png");
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 128px;
  height: 48px;
  display: flex;
  align-items: center;
}
.logo:hover {
  cursor: pointer;
}
.title {
  color: #fff;
  font-family: Benzin-Bold;
  font-size: 1.4rem;
  margin-top: 4vh;
  text-transform: uppercase;
}
.text {
  color: rgba(140, 158, 204, 1);
  font-family: Inter;
  font-size: 1rem;
  margin-bottom: 1vh;
}
.login-text {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0;
}
.list-elem {
  list-style: none;
  text-align: left;
  margin: 0;
  padding-left: 0;
}
.list-elem li {
  color: rgba(211, 228, 253, 1);
  margin-top: 2vh;
}
.list-elem li:first-child {
  margin: 0;
}
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-modal {
  padding: 3vh 7.5% 3vh 7.5%;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}
.header-modal > h1 {
  font-family: Benzin-Bold;
  color: rgba(47, 60, 67, 1);
  font-size: 1.5rem;
  text-align: left;
  // margin-left: 2vh;
  text-transform: uppercase;
}
.close svg {
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .main-block {
    width: 100% !important;
    min-height: 100% !important;
    flex-direction: column-reverse;
  }

  .left {
    // width: 100% !important;
    // height: 38%;
    display: none;
  }

  .right {
    width: 100% !important;
    // height: 62%;
    height: 100vh;
    justify-content: space-between;
  }

  .button {
    margin-top: 15vh !important;
  }

  .header-modal > h1 {
    font-size: 1.2rem;
  }

  .header-modal {
    height: 6vh;
  }

  .list-elem li {
    margin-top: 1vh;
  }

  .title {
    margin-top: 2vh;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>