<template>
  <div class="chat">
    {{userData.id}}
    <div @click="selectUser(1)">User 1</div>
    <div @click="selectUser(2)">User 2</div>
    <div @click="selectUser(3)">User 3</div>
    {{selected_user}}
    <div class="message" ref="messages"></div>

    <div class="buttons">
      <input type="text" name="" v-model="text">
      <button type="button" @click="send">Send</button>
    </div>
  </div>
</template>

<script>
import Cookies from "vue-cookies";

export default {
  name: 'Chat',
  data() {
    return {
      connect: undefined,
      text: undefined,
      messages: [],
      selected_user: undefined
    }
  },
  created() {
    
  },
  computed: {
    userData() {
      const user = window.localStorage.getItem('user')
      return JSON.parse(user);
    },
  },
  mounted() {
    const messages = this.$refs.messages;

    this.connect = new WebSocket('ws://217.25.89.254:2304/api/chat/connect/');

    this.connect.onmessage = function(event) {
      const message = document.createElement('div')
      message.innerHTML = event.data

      messages.appendChild(message)
    }

    this.connect.onopen = function(event) {
      console.log("Successfully connected")
    }
  },
  methods: {
    send() {
      const data = `{"user":"1","to":"2","msg":"${this.text}"}`
      this.connect.send(data);
      this.text = '';
    },
    selectUser(id) {
      this.selected_user = id;
    }
  }
}
</script>

<style lang="scss" scoped>
.chat {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.message {
  width: 100%;
  height: 60vh;
  background: #fff;
  overflow: scroll;
}
.buttons {
  display: flex;
}
.buttons > input {
  height: 50px;
  width: 70%;
}
.buttons > button {
  height: 50px;
  width: 30%;
}
</style>