<template>
  <div class="private-form__wrapper">
    <div class="private-form__title">
      <h5 class="private-form__title-text">Логотип компании</h5>
    </div>
    <div class="private-form__body">
      <div class="private-logo__image-wrapper">
        <img class="private-logo__image" src="@/assets/img/solution-logo.png" alt="company-logo" />
      </div>
      <div>
        <label class="private-logo__change-label" for="file">Изменить логотип</label>
        <input class="private-logo__change-input" type="file" id="file" name="file" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "logotype-private-office"
};
</script>

<style lang="scss">
.private-form__wrapper {
  background: rgba(56, 93, 249, 0.07);
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-radius: 2px;
  font-family: Inter;
}
.private-form__title {
  border-bottom: 1px solid rgba(247, 252, 255, 0.25);
  padding: 16px 20px;
  &-text {
    font-size: 0.88rem;
    font-weight: 700;
    color: #8c9ecc;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }
}
.private-form__body {
  padding: 20px;
}
.private-form__input-group {
  display: flex;
  & + & {
    margin-top: 26px;
  }
}
.private-form__input-wrapper {
  flex: 1;
  & + & {
    margin-left: 20px;
  }
}
.private-form__input-name {
  font-size: 0.75rem;
  font-weight: 400;
  color: #8c9ecc;
  margin-bottom: 4px !important;
}
.private-form__input {
  width: 100%;
  min-width: 0;
  padding: 6px 12px;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-radius: 1px;
  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
    -moz-appearance: textfield;
  }
  &::placeholder {
    font-size: 0.88rem;
    color: rgba(247, 252, 255, 0.25);
  }
  &:focus {
    outline: none;
  }
}
.private-logo__image {
  max-width: 280px;
  width: 100%;
  height: auto;
}
.private-logo__image-wrapper {
  margin-bottom: 18px;
}
.private-logo__change-input {
  display: none;
}
.private-logo__change-label {
  font-size: 0.88rem;
  color: #385df9;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  transition: 0.5s;
  &:hover {
    color: #244aeb;
  }
}
</style>