<template>
  <div class="private-form__wrapper">
    <div class="private-form__title">
      <h5 class="private-form__title-text">Данные для входа</h5>
    </div>
    <div class="private-form__body">
      <div class="private-form__input-group">
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">Старый пароль</h6>
          <input class="private-form__input" @input="setOldPass($event)" type="password" />
        </div>
      </div>
      <div class="private-form__input-group">
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">Новый пароль</h6>
          <input class="private-form__input" @input="setNewPass1($event)" type="password" />
        </div>
      </div>
      <div class="private-form__input-group">
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">Повторение пароля</h6>
          <input class="private-form__input" @input="setNewPass2($event)" type="password" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "personal-data-private-office",
  methods: {
    setOldPass(evt) {
      this.$parent.$data.old_pass = evt.target.value;
    },
    setNewPass1(evt) {
      this.$parent.$data.new_pass1 = evt.target.value;
    },
    setNewPass2(evt) {
      this.$parent.$data.new_pass2 = evt.target.value;
    },
  }
};
</script>

<style lang="scss">
.private-form__wrapper {
  background: rgba(56, 93, 249, 0.07);
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-radius: 2px;
  font-family: Inter;
}
.private-form__title {
  border-bottom: 1px solid rgba(247, 252, 255, 0.25);
  padding: 16px 20px;
  &-text {
    font-size: 0.88rem;
    font-weight: 700;
    color: #8c9ecc;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }
}
.private-form__body {
  padding: 20px;
}
.private-form__input-group {
  display: flex;
  & + & {
    margin-top: 26px;
  }
}
.private-form__input-wrapper {
  flex: 1;
  & + & {
    margin-left: 20px;
  }
}
.private-form__input-name {
  font-size: 0.75rem;
  font-weight: 400;
  color: #8c9ecc;
  margin-bottom: 4px !important;
}
.private-form__input {
  width: 100%;
  min-width: 0;
  padding: 6px 12px;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-radius: 1px;
  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
    -moz-appearance: textfield;
  }
  &::placeholder {
    font-size: 0.88rem;
    color: rgba(247, 252, 255, 0.25);
  }
  &:focus {
    outline: none;
  }
}
</style>