<template>
  <div class="private-form__wrapper">
    <div class="private-form__title">
      <h5 class="private-form__title-text">Юридические данные</h5>
    </div>
    <div class="private-form__body">
      <div class="private-form__input-group">
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">Название компании</h6>
          <input class="private-form__input" @input="setTitle($event)" type="text" />
        </div>
      </div>
      <div class="private-form__input-group">
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">Адрес</h6>
          <input class="private-form__input" @input="setAddress($event)" type="text" />
        </div>
      </div>
      <div class="private-form__input-group">
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">ИНН</h6>
          <input
            class="private-form__input"
            type="number"
            minlength="12"
            maxlength="12"
            placeholder="12 цифр"
            @input="setInn($event)"
          />
        </div>
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">ОКПО</h6>
          <input class="private-form__input" type="text"  @input="setOklo($event)"/>
        </div>
        <div class="private-form__input-wrapper">
          <h6 class="private-form__input-name">ОГРН/ОГРНИП</h6>
          <input class="private-form__input" type="text" @input="setOgrn($event)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "personal-data-private-office-urDataForm",
  props: ["address", "inn", "ogrn", "oklo", "title"],
  methods: {
    setTitle(evt) {
      this.$parent.$data.title = evt.target.value;
    },
    setInn(evt) {
      this.$parent.$data.inn = evt.target.value;
    },
    setOgrn(evt) {
      this.$parent.$data.ogrn = evt.target.value;
    },
    setOklo(evt) {
      this.$parent.$data.oklo = evt.target.value;
    },
    setAddress(evt) {
      this.$parent.$data.address = evt.target.value;
    }
  }
};
</script>

<style lang="scss">
.private-form__wrapper {
  background: rgba(56, 93, 249, 0.07);
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-radius: 2px;
  font-family: Inter;
}
.private-form__title {
  border-bottom: 1px solid rgba(247, 252, 255, 0.25);
  padding: 16px 20px;
  &-text {
    font-size: 0.88rem;
    font-weight: 700;
    color: #8c9ecc;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }
}
.private-form__body {
  padding: 20px;
}
.private-form__input-group {
  display: flex;
  & + & {
    margin-top: 26px;
  }
}
.private-form__input-wrapper {
  flex: 1;
  & + & {
    margin-left: 15px;
  }
}
.private-form__input-name {
  font-size: 0.75rem;
  font-weight: 400;
  color: #8c9ecc;
  margin-bottom: 4px !important;
}
.private-form__input {
  width: 100%;
  min-width: 0;
  padding: 6px 12px;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-radius: 1px;
  &[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
    -moz-appearance: textfield;
  }
  &::placeholder {
    font-size: 0.88rem;
    color: rgba(247, 252, 255, 0.25);
  }
  &:focus {
    outline: none;
  }
}
</style>