<template>
  <div class="user-prpjects__inner">
    <transition-group name="list" tag="div" class="wrapper-list">
      <Project
        v-for="elem in projects"
        :key="elem.id"
        :data="elem"
        :remove="remove"
      />
    </transition-group>
    
    <div class="Catalog__placeholder">
      <div
        v-if="projects.length == 0"
        class="Catalog__itemsNotFound"
      >
        <p>Нет проектов</p>
      </div>
    </div>
  </div>
</template>

<script>
import Project from './components/Project';
import { project } from "@/modules/helper";

export default {
  name: 'user-prpjects',
  components: {
    Project
  },
  data() {
    const data = {
      projects: []
    }

    return data;
  },
  computed: {
    userData() {
      const user = window.localStorage.getItem('user')
      return JSON.parse(user);
    },
  },
  mounted() {
    this.loadProjects()
  },
  methods: {
    remove(id) {
      project
        .removeProject(id)
        .then(res => {
          this.projects.map((elem, id_elem) => {
            if (elem.id == id) {
              this.projects.splice(id_elem, 1)
            }
          })
        })
        .catch(err => {});
    },
    loadProjects() {
      project
      .getAllProjects()
      .then(res => {
        res.data.forEach(el => {
          if (el.user == this.userData.id) {
            this.projects.push(el);
          }
        });
      })
      .catch(err => {

      });
    }
  }
}
</script>

<style lang="scss" scoped>
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.user-prpjects__inner {
  flex: 1;
  padding: 30px 0 0 30px;
  width: 52vw;
}
.wrapper-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Catalog__placeholder {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Benzin-Bold;
  font-size: 1.29rem;
  line-height: 125.2%;
  color: #f7fcff;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .user-prpjects__inner {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>