<template>
  <keep-alive>
    <div class="main">
      <div class="top-block" id="top-block">
        <Header />

        <div class="wrapper">
          <div class="block-text">
            <h1 class="head-title text">B2B Innovation</h1>

            <p class="main-text text">
              платформа для размещения в каталоге поиска
              <br />технологичных решений для малого и среднего бизнеса
            </p>
          </div>
        </div>

        <Info />
      </div>

      <Search class="Main__search" searchToMain/>
      <Tags class="Main__tags" />
      <Solutions />
      <AddSolutions :callback="toggleModalSulutions" />
      <Footer :flag_mainPage="flag_mainPage" />

      <AddSolutionsModal :close="toggleModalSulutions" v-if="flag_modal_sulutions" />
    </div>
  </keep-alive>
</template>

<script>
import Info from "@/components/Info";
import Search from "@/components/Search";
import Solutions from "@/components/Solutions";
import AddSolutions from "@/components/AddSolutions";
import AddSolutionsModal from "@/components/modals/AddSolutions";
import Tags from "@/components/Tags";

// Async load components
const Footer = () => ({
  component: import("@/components/Footer")
});
const Header = () => ({
  component: import("@/components/Header")
});

export default {
  name: "Main",
  components: {
    Header,
    Info,
    Search,
    Solutions,
    AddSolutions,
    Footer,
    AddSolutionsModal,
    Tags,
  },
  data() {
    return {
      flag_modal_sulutions: false,
      flag_mainPage: true,
      data: [],
    };
  },
  computed: {},
  methods: {
    toggleModalSulutions() {
      this.flag_modal_sulutions = !this.flag_modal_sulutions;
    },
  }
};
</script>

<style lang="scss" scoped>
.main {
  min-height: 100%;
  // width: 100vw;
  // old #272764
  background: #0f0f2c;
}
.top-block {
  // width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0f0f2c, #0f0f2c),
    url("../assets/img/background1.png") no-repeat top center;
  background-size: contain;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  margin-bottom: 6vh;
  padding: 0rem 1rem;
}
.block-text {
  width: 1200px;
}
.head-title {
  color: #fff;
  font-family: Benzin-Bold;
  font-size: 70px;
}
.main-text {
  margin-top: 1vh;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

.Main__search {
  padding: 0rem 1rem;
}

.Main__tags {
  padding: 0rem 1rem;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .wrapper {
    margin-bottom: 20vh;
    padding: 0rem 1rem;
  }
  .head-title {
    font-size: 2.57rem;
  }
  .block-text {
    width: auto;
  }
  .main-text {
    font-size: 1rem;
  }
  .Main__search {
    margin-top: 110vw;
  }
}

@media screen and (max-width: $smallphone) {
  .Main__search {
    margin-top: 130vw;
  }
}
</style>