<template>
  <div class="solution">
    <Header/>

    <div class="wrapper">
      <div class="content">
        <div class="left">
          <div class="images"> 
            <img src="@/assets/img/solution-logo.png" alt="" width="100%" height="">
          </div>

          <div class="info">
            <h1 class="title">{{data.name}}</h1>

            <div class="info-elem">
              <h4>Город:</h4>
              <span></span>
            </div>

            <div class="info-elem">
              <h4>Email:</h4>
              <span>{{userData.email}}</span>
            </div>

            <div class="info-elem">
              <h4>Телефон:</h4>
              <span>{{userData.phone}}</span>
            </div>

            <div class="info-elem">
              <h4>Сайт:</h4>
              <span>{{data.link}}</span>
            </div>
          </div>
        </div>

        <div class="right">
          <router-link to="/catalog/all" class="back">
            <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.6363 5.70833L3.08909 5.70833L7.27938 1.51804L6.15997 0.398621L0.0585937 6.5L6.15997 12.6014L7.27938 11.482L3.08909 7.29166L14.6363 7.29166V5.70833Z" fill="#8C9ECC"/>
            </svg>
            Вернуться в каталог
          </router-link>

          <div class="main-info">
            <h1>{{data.title}}</h1>

            <div class="block-tags">
              <!-- XXX: НАХУЙ ТУТ КАТЕГОРИЯ в душе не ебу Но когда будет готов функционал с тегами в проекте надо будет тут исправить на теги! -->
              <router-link :to="'/catalog/' + idCategorySolution" class="type-project">
                {{name_category}}
              </router-link>
            </div>

            <div class="content-info">
              <div class="info-main-elem">
                <h4>Стадия проекта:</h4>
                <span>Среднее предприятие</span>
              </div>

              <div class="info-main-elem">
                <h4>Инвест. показатели:</h4>
                <span>EBIDTA= 123 448 467 р  NPV= 253 730 344 р</span>
              </div>

              <h1 class="desc-title">Описание проекта</h1>
              <div class="desc-text">
                {{data.text}}
              </div>

              <div class="buttons">
                <button class="start-chat">
                  Начать чат
                  <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.1643 14.2503L0.416512 15.0833L1.24951 11.3355C0.70093 10.3094 0.41476 9.16353 0.416512 7.99999C0.416512 4.08787 3.58772 0.916656 7.49985 0.916656C11.412 0.916656 14.5832 4.08787 14.5832 7.99999C14.5832 11.9121 11.412 15.0833 7.49985 15.0833C6.3363 15.0851 5.19041 14.7989 4.1643 14.2503ZM4.36972 12.7536L4.83226 13.0015C5.6529 13.4401 6.56937 13.6686 7.49985 13.6667C8.62061 13.6667 9.7162 13.3343 10.6481 12.7117C11.58 12.089 12.3063 11.204 12.7352 10.1685C13.1641 9.13308 13.2763 7.9937 13.0576 6.89448C12.839 5.79525 12.2993 4.78555 11.5068 3.99305C10.7143 3.20055 9.70458 2.66086 8.60536 2.44221C7.50613 2.22356 6.36675 2.33578 5.33131 2.76467C4.29586 3.19357 3.41085 3.91988 2.78818 4.85176C2.16552 5.78364 1.83318 6.87923 1.83318 7.99999C1.83318 8.94491 2.06339 9.85441 2.49901 10.6676L2.74622 11.1301L2.28226 13.2176L4.36972 12.7536Z" fill="#D3E4FD"/>
                  </svg>
                </button>

                <button @click="addFavoriteProject" class="like-project">
                  В избранное
                  <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.57067 11.6396L7.49984 11.7104L7.42192 11.6396C4.05734 8.58667 1.83317 6.56792 1.83317 4.52083C1.83317 3.10417 2.89567 2.04167 4.31234 2.04167C5.40317 2.04167 6.46567 2.75 6.84109 3.71333H8.15859C8.534 2.75 9.5965 2.04167 10.6873 2.04167C12.104 2.04167 13.1665 3.10417 13.1665 4.52083C13.1665 6.56792 10.9423 8.58667 7.57067 11.6396ZM10.6873 0.625C9.45484 0.625 8.27192 1.19875 7.49984 2.09833C6.72775 1.19875 5.54484 0.625 4.31234 0.625C2.13067 0.625 0.416504 2.33208 0.416504 4.52083C0.416504 7.19125 2.82484 9.38 6.47275 12.6879L7.49984 13.6229L8.52692 12.6879C12.1748 9.38 14.5832 7.19125 14.5832 4.52083C14.5832 2.33208 12.869 0.625 10.6873 0.625Z" fill="#D3E4FD"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <Footer/>
  </div>
</template>

<script>
import Header from '@/components/Header';
import Footer from '@/components/Footer';

import { project, category, user, favorite } from '@/modules/helper';

export default {
  name: "Page-solution",
  data() {
    return {
      data: {},
      name_category: '',
      userData: {}
    }
  },
  components: {
    Header,
    Footer
  },

  computed: {
    idSolution() {
      return this.$route.params.id
    },
    idCategorySolution() {
      return this.data.category
    }
  },
  mounted() {
    this.loadDataProject()
  },
  methods: {
    loadDataProject() {
      project.getSelectProject(this.idSolution)
      .then(res => {
        this.data = res.data;
        this.getNameCategory(this.data.category)

        this.loadDataUser()
      })
      .catch(err => {
        console.log(err)
      })
    },
    loadDataUser() {
      user.getUserData(this.data.user).then(res => {
        this.userData = res.data
      }).catch(err => {
        
      });
    },
    addFavoriteProject() {
      const data = {
        user: this.userData.id,
        project: this.idSolution
      }

      favorite.addFavoriteProject(data)
        .then(res => {
          console.log(res)
        })
        .catch(err => {
          console.log(err)
        })
    },
    getNameCategory(id) {
      category.getSelectCategory(id)
      .then(res => {
        this.name_category = res.data.category;
      })
      .catch(err => {
        console.log(err)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.solution {
  width: 100vw;
  min-height: 100vh;
  background: #0f0f2c;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 5vh 0;
}
.content {
  width: 1200px;
  min-height: 40vh;
  display: flex;


}
.left {
  width: 40%;
}
.title {
  margin-top: 4vh;
  margin-bottom: 4vh !important;
  font-size: 1.5rem;
  color: #fff;
  font-family: Benzin-Bold;
}
.info-elem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1vh;
}
.info-elem:last-child {
  margin: 0;
}
.info-elem > h4 {
  width: 30%;
  color: #AFBEE4;
  font-family: Inter;
  font-size: 1rem;
}
.info-elem > span {
  width: 70%;
  color: #AFBEE4;
  font-family: Inter;
  font-size: 1.1rem;
}
.right {
  width: 60%;
  background: rgba(56, 93, 249, 0.07);
  padding: 4vh 8vh;
}
.back {
  color: #AFBEE4;
  font-size: 1rem;
  font-family: Inter;
}
.back > svg {
  margin-right: 1vh;
}
.main-info {
  margin-top: 4vh;
  color: #fff;
  font-family: Benzin-Bold;
  font-size: 3rem;
  text-align: left;
}
.block-tags {
  width: 100%;
  display: flex;
}
.type-project {
  transition: 0.5s;
  background: rgba(56, 93, 249, 0.2);
  border: 1px solid #385df9;
  height: 44px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3vh;
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1vh;
  cursor: pointer;
  &:hover {
    background: #385df9;
  }
}
.type-project:last-child {
  margin-right: 0;
}
.content-info {
  margin-top: 4vh;
}
.info-main-elem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2.5vh;
}
.info-main-elem:last-child {
  margin: 0;
}
.info-main-elem > h4 {
  color: #AFBEE4;
  font-family: Inter;
  font-size: .9rem;
  font-weight: 600;
  margin-right: 1vh;
  text-transform: uppercase;
}
.info-main-elem > span {
  color: #D3E4FD;
  font-family: Inter;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
}
.info-main-elem {

}
.desc-title {
  color: #AFBEE4;
  font-family: Inter;
  font-size: .9rem;
  font-weight: 600;
  text-transform: uppercase;
}
.desc-text {
  color: #D3E4FD;
  font-family: Inter;
  font-size: .9rem;
  font-weight: 600; 
  margin-top: 1vh;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 6vh;
}
.start-chat {
  width: 30vh;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  border: none;
  background: #395df6;
  padding: calc(1vh + 2px);
  text-transform: uppercase;
  &:hover {
    background: rgba(56, 93, 249, 0.3);
  }
}
.like-project {
  width: 26vh;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 2px;
  font-family: "Inter";
  transition: 0.5s;
  cursor: pointer;
  padding: calc(1vh + 2px);
  border: 1px solid #fff;
  background: none;
  margin-left: 2vw;
  text-transform: uppercase;
  &:hover {
    color: #272764;
    background-color: #fff;
  }
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: $phone) {
  .wrapper {
    background: #0f0f2c;
    margin: 0 0 -1px 0;
  }
  .content {
    width: 100%;
    flex-direction: column-reverse;
  }
  .left {
    background: #0f0f2c;
    width: 100%;
    // padding-bottom: 8rem;
  }
  .right {
    width: 100%;
    padding: 4vh 2vh;
  }
  .buttons {
    flex-direction: column;
  }
  .like-project {
    margin-top: 2vh;
    margin-left: 0;
    width: 100%;
  }
  .start-chat {
    width: 100%;
  }
  .info {
    padding: 4vh 8vh;
  }
  .info-elem > h4 {
    width: 45%;
  }
}

@media screen and (max-width: $smallphone) {
}
</style>