<template>
  <keep-alive>
    <div class="private-office">
      <Header />

      <div class="wrapper">
        <div class="content">
          <Sidebar :userName="userName" />
          <div class="padding-left">
            <MainPage v-if="page == 'main'" :userData="userData" :userName="userName" />

            <UserProjects v-if="page == 'projects'" />

            <FavoriteProject v-if="page == 'favorites'" />

            <Chat v-if="page == 'chat'" />
          </div>
        </div>
      </div>

      <Footer />
    </div>
  </keep-alive>
</template>

<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import Sidebar from "@/components/private-office/Sdebar";

import MainPage from "@/components/private-office/main-page/MainPage";
import UserProjects from "@/components/private-office/user-projects/UserProjects";
import FavoriteProject from "@/components/private-office/favorite-project/FavoriteProject";

import Chat from "@/components/private-office/chat/Chat";

export default {
  name: "PrivateOffice",
  components: {
    Header,
    Footer,
    Sidebar,
    MainPage,
    UserProjects,
    FavoriteProject,
    Chat
  },
  data() {
    return {};
  },
  computed: {
    userData() {
      const user = window.localStorage.getItem("user");
      return JSON.parse(user);
    },
    userName() {
      const data = this.userData;

      return `${data.first_name} ${data.last_name}`;
    },
    page() {
      return this.$route.params.type;
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.private-office {
  min-height: 100vh;
  background: #0f0f2c;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10vh 0;
}
.content {
  width: 1230px;
  min-height: 40vh;
  // padding: 0 15px;
  // padding-left: 15px;
  display: flex;
}

@media screen and (max-width: 620px) {
  .padding-left {
    padding-left: 60px;
  }
}
</style>