<template>
  <keep-alive>
    <footer>
      <div ref="leftFooter" class="left-footer">
        <div class="left-footer__shell">
          <div class="left-footer__content">
            <img src="@/assets/img/logonew.png" alt="LOGO" class="left-footer__logo" />
            <div class="left-footer__columnsblock">
              <div class="left-footer__column">
                <h3 class="left-footer__title">Инфо</h3>
                <ul class="left-footer__list">
                  <li class="left-footer__item">Порядок размещения решений</li>
                  <li class="left-footer__item">Пользовательское соглашение</li>
                  <li class="left-footer__item">Согласие на обработку персональных данных</li>
                </ul>
              </div>
              <div class="left-footer__column">
                <h3 class="left-footer__title">О проекте</h3>
                <ul class="left-footer__list">
                  <li class="left-footer__item">Каталог решений</li>
                  <li class="left-footer__item">Инноваторам</li>
                  <li class="left-footer__item">Заказчикам</li>
                  <li class="left-footer__item">Инвесторам</li>
                </ul>
              </div>
            </div>
            <p class="left-footer__message">©2021 | All right reserved</p>
          </div>
        </div>
      </div>
      <div ref="rightFooter" class="right-footer">
        <div class="right-footer__shell">
          <div class="right-footer__content">
            <div class="right-footer__title">
              <h2>Будь в курсе последних новостей в сфере инноваций</h2>
            </div>
            <div class="right-footer__enter">
              <input type="text" class="right-footer__input" placeholder="e-mail" />
              <div class="right-footer__button">
                <p>подписаться</p>
                <svg width="16" height="14" viewBox="0 0 16 14" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.874826 7.79015L12.4221 7.79015L8.23178 11.9804L9.3512 13.0999L15.4526 6.99848L9.3512 0.897104L8.23178 2.01652L12.4221 6.20681L0.874826 6.20681L0.874826 7.79015Z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </keep-alive>
</template>

<script>
export default {
  name: "Footer",
  data() {
    return {
      windowSize: null
    };
  },
  props: {
    flag_mainPage: Boolean
  },
  methods: {
    changeView() {
      this.$refs.rightFooter.style.display = "block";
      this.$refs.leftFooter.style.paddingTop = "6vh";
      if (this.windowSize <= 480) {
        this.$refs.leftFooter.style.paddingTop = "70%";
      }
      if (this.windowSize <= 400) {
        this.$refs.leftFooter.style.paddingTop = "90%";
      }
    },
    onResize() {
      if (this.flag_mainPage) {
        this.windowSize = window.innerWidth;
        this.changeView();
      }
    }
  },
  mounted() {
    this.windowSize = window.innerWidth;
    if (this.flag_mainPage) {
      this.changeView();
    }
  },
  created() {
    window.addEventListener("resize", this.onResize);
  },
  destroyed() {
    window.removeEventListener("resize", this.onResize);
  }
};
</script>

<style lang="scss" scoped>
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

footer {
  border-top: 1px solid rgba(247, 252, 255, 0.4);
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.left-footer {
  background-color: #0f0f2c;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 6vh;
  padding-bottom: 2vh;
}

.left-footer__shell {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.left-footer__logo {
  margin-bottom: 59px;
  /*HARD CODED*/
  width: 190px;
  height: 66px;
}

.left-footer__content {
  position: relative;
  display: flex;
  flex-direction: column;
  // max-width: 500px;
}

.left-footer__columnsblock {
  display: flex;
  margin-bottom: 49px;
}

.left-footer__columnsblock :first-child {
  margin-right: 39px;
}

/* .left-footer__column :first-child{
    margin-right: 39px;
} */

.left-footer__title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  /* #AFBEE4 */
  color: #8c9ecc;
  margin-bottom: 1.25rem !important;
}

.left-footer__item {
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8c9ecc;
  transform: rotate(-0.09deg);
  margin-bottom: 10px;
  transition: 0.5s;
  &:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}

.left-footer__item:hover {
  color: #fff;
}

.left-footer__message {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 144.69%;
  /* or 23px */
  /* #AFBEE4 */
  color: #8c9ecc;
}

.right-footer {
  background-color: #2727a3;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 6vh;
  padding-bottom: 2vh;
}

.right-footer__shell {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.right-footer__content {
  width: 416px;
}

.right-footer__title {
  font-family: Benzin-Bold;
  font-size: 24px;
  line-height: 145%;
  /* or 35px */
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 75px;
}

.right-footer__enter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-footer__input {
  background: inherit;
  border: 1px solid #8c9ecc;
  border-radius: 1px;
  padding: 13px 11px 13px 11px;
  width: 63.7%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* #AFBEE4 */
  color: #8c9ecc;
}

.right-footer__button {
  cursor: pointer;
  padding: 16.5px 17px 16.5px 17px;
  width: 36.3%;
  border: 1px solid #8c9ecc;
  border-radius: 1px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  left: -1px;
  transition: 0.5s;
  &:hover {
    color: #272764;
    background: #fff;
  }
}
svg {
  display: none;
}

svg {
  transition: 0.5s;
  fill: #8c9ecc;
}

$phone: 480px;
$smallphone: 400px;

@media screen and (max-width: 1000px) {
  .right-footer {
    display: none;
  }
  .left-footer {
    width: 100%;
  }
  .left-footer__shell {
    max-width: none;
    justify-content: center;
  }
  .left-footer__content {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .left-footer__message {
    position: absolute;
    bottom: 4px;
  }
  .left-footer__logo {
    margin-right: 40px;
  }
  .left-footer__columnsblock {
    width: 100%;
    max-width: 650px;
    justify-content: space-between;
  }

  .left-footer__columnsblock :first-child {
    margin-right: 0;
  }

  .left-footer__columnsblock :last-child {
    padding-right: 20px;
  }
}

@media screen and (max-width: 638px) {
  .left-footer__content {
    flex-wrap: wrap;
  }
  .left-footer__logo {
    width: 107px;
    height: 45px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .left-footer__columnsblock {
    flex-basis: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: $phone) {
  .right-footer__title {
    font-size: 1.29rem;
  }
  footer {
    display: block;
    position: relative;
    border-top: none;
  }

  .left-footer {
    border-top: 1px solid rgba(247, 252, 255, 0.4);
    // margin-top: 30%;
    // padding-top: 70%;
    width: auto;
  }

  .left-footer__shell {
    justify-content: center;
  }

  .left-footer__title {
    display: none;
  }

  .left-footer__content {
    align-items: center;
    justify-content: center;
  }
  .left-footer__columnsblock {
    justify-content: center;
  }
  .left-footer__columnsblock :last-child {
    padding-right: 0;
  }
  .left-footer__columnsblock :first-child {
    margin-right: 0;
  }
  .left-footer__message {
    position: relative;
  }

  .left-footer__column {
    text-align: center;
    &:last-child {
      display: none;
    }
  }

  .right-footer {
    display: none;
    width: 100%;
    background: none;
    padding: 0;
  }

  .right-footer__shell {
    width: 100%;
  }

  .right-footer__content {
    background: #2727a3;
    width: 95%;
    padding: 4.57rem 1.86rem;
    position: absolute;
    top: -20%;
    max-height: 100vw;
  }

  .right-footer__input {
    width: 80.3%;
  }

  .right-footer__button {
    padding: 18px 17px 18px 17px;
    width: 19.7%;
    p {
      display: none;
    }
    &:hover {
      svg {
        fill: #272764;
      }
    }
  }

  svg {
    display: block;
  }
}

@media screen and (max-width: $smallphone) {
  .right-footer__content {
    top: -20%;
    bottom: 55%;
    max-height: unset;
  }
  .left-footer {
    // padding-top: 90%;
  }
}
</style>