<template>
  <div class="mobileHeader">
    <div class="mobileHeader__container">
      <div class="mobileHeader__menu menu">
        <router-link to="/" class="menu__logo">
          <img src="@/assets/img/logonew.png" width="100%" height="80%" alt />
        </router-link>
        <button @click="closeMobileHeader" class="menu__close">
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
              fill="#8C9ECC"
            />
          </svg>
        </button>
      </div>
      <div class="mobileHeader__navblock navblock">
        <router-link
          v-for="item in navItems"
          :key="item.name"
          :to="item.router"
          class="navblock__item"
        >{{item.name}}</router-link>
      </div>
      <div class="mobileHeader__navblock navblock">
        <router-link v-if="userData" to="/private-office/main" class="navblock__item">Личный кабинет</router-link>
        <p v-else @click="showModalLogin" class="navblock__item">Вход</p>
        <p @click="showModalAddSolution" class="navblock__item">Предложить решение</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderMobile",
  data() {
    return {};
  },
  props: {
    navItems: Array,
    userData: false
  },
  created() {
    window.addEventListener("click", this.outClick);
  },
  methods: {
    showModalLogin() {
      return this.$emit("showModalLogin");
    },
    showModalAddSolution() {
      return this.$emit("showModalAddSolution");
    },
    closeMobileHeader() {
      return this.$emit("closeHeaderMobile");
    },
    outClick(event) {
      if (event.target.className == "mobileHeader") {
        this.closeMobileHeader();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
$horisontalPadding: 2rem;
a:focus,
a:active {
  outline: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input,
button,
textarea {
  font-family: inherit;
}
button {
  background-color: unset;
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mobileHeader {
  position: fixed;
  top: 0px;
  z-index: 11;
  height: 100vh;
  width: 100vw;
  background: rgba(59, 71, 125, 0.5);
  display: flex;
  justify-content: flex-end;
}

.mobileHeader__container {
  width: 100%;
  max-width: 370px;
  background: #08082e;
  box-shadow: 0px -9px 20px rgba(0, 0, 0, 0.28);
}

.menu {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // padding: 1.43rem $horisontalPadding;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  max-height: 160px;
  padding: 0 15px;
}

.menu__logo {
  max-width: 78px;
  max-height: 40px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  img {
    max-width: 100%;
    // width: auto;
  }
}

.menu__close {
  border: 1px solid #d3e4fd;
  border-radius: 2px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navblock {
  background-color: #0b0e3c;
  padding: 1.88rem $horisontalPadding;
  margin-bottom: 0.71rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navblock__item {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d3e4fd;
  transform: rotate(-0.09deg);
  margin-bottom: 1.79rem;
  transition: 0.5s;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    color: #385df9;
  }
}
</style>