<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@font-face {
  src: url("./assets/fonts/Benzin/BenzinBold.ttf");
  font-family: Benzin-Bold;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

.text {
  font-family: "Inter";
}

button::-moz-focus-inner {
  border: 0;
}
.hideScroll {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.uneditable-input:focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:focus {
  border-color: rgba(56, 93, 249, 1) !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: normal !important;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  user-select: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
}

body {
  margin: 0;
}

html {
  font-size: 16px;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
