<template>
  <div class="sidebar-private-office" ref="sidebar">
    <div class="private-sidebar__header">
      <div class="private-sidebar__logo"></div>
      <h4 class="private-sidebar__title">{{userName}}</h4>
    </div>
    <div class="private-sidebar__nav-wrapper">
      <nav class="private-sidebar__nav">
        <router-link
          to="/private-office/main"
          active-class="private-sidebar__link--active"
          class="private-sidebar__link"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="19"
            viewBox="0 0 18 19"
            fill="none"
          >
            <path
              d="M0 10.5H8V0.5H0V10.5ZM0 18.5H8V12.5H0V18.5ZM10 18.5H18V8.5H10V18.5ZM10 0.5V6.5H18V0.5H10Z"
              fill="currentColor"
            />
          </svg>
          <span>Профиль</span>
        </router-link>

        <router-link
          to="/private-office/projects"
          active-class="private-sidebar__link--active"
          class="private-sidebar__link"
        >
          <svg
            width="17"
            height="21"
            viewBox="0 0 17 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.9705 16C3.6735 14.727 2.3335 13.686 1.7835 13C0.841692 11.8233 0.251449 10.4044 0.0807652 8.90694C-0.0899183 7.40944 0.165901 5.89418 0.818755 4.53572C1.47161 3.17725 2.49494 2.03085 3.77086 1.22856C5.04678 0.426269 6.52339 0.00073532 8.03058 0.000976665C9.53778 0.00121801 11.0143 0.427224 12.2899 1.22992C13.5656 2.03262 14.5885 3.17935 15.241 4.53803C15.8934 5.8967 16.1487 7.41204 15.9775 8.90949C15.8064 10.4069 15.2157 11.8256 14.2735 13.002C13.7235 13.687 12.3855 14.728 12.0885 16H3.9695H3.9705ZM12.0295 18V19C12.0295 19.5304 11.8188 20.0391 11.4437 20.4142C11.0686 20.7893 10.5599 21 10.0295 21H6.0295C5.49907 21 4.99036 20.7893 4.61529 20.4142C4.24021 20.0391 4.0295 19.5304 4.0295 19V18H12.0295ZM9.0295 8.00497V3.99997L4.5295 10.005H7.0295V14.005L11.5295 8.00497H9.0295Z"
              fill="currentColor"
            />
          </svg>

          <span>Мои решения</span>
        </router-link>

        <router-link
          v-if="false"
          to="/private-office/chat"
          active-class="private-sidebar__link--active"
          class="private-sidebar__link"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <path
              d="M5.29101 19.324L1.12865e-05 20.5L1.17601 15.209C0.401543 13.7604 -0.00246185 12.1426
              1.12865e-05 10.5C1.12865e-05 4.977 4.47701 0.5 10 0.5C15.523 0.5 20 4.977 20 10.5C20 16.023 
              15.523 20.5 10 20.5C8.35737 20.5025 6.73963 20.0985 5.29101 19.324Z"
              fill="currentColor"
            />
          </svg>
          <span>Чат</span>
        </router-link>

        <router-link
          to="/private-office/favorites"
          active-class="private-sidebar__link--active"
          class="private-sidebar__link"
        >
          <svg
            width="21"
            height="20"
            viewBox="0 0 21 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.4023 19.0655L8.95234 17.7455C3.80234 13.0755 0.402344 9.98545 0.402344 6.21545C0.402344 3.12545 2.82234 0.715454 5.90234 0.715454C7.64234 0.715454 9.31234 1.52545 10.4023 2.79545C11.4923 1.52545 13.1623 0.715454 14.9023 0.715454C17.9823 0.715454 20.4023 3.12545 20.4023 6.21545C20.4023 9.98545 17.0023 13.0755 11.8523 17.7455L10.4023 19.0655Z"
              fill="currentColor"
            />
          </svg>

          <span>Избранное</span>
        </router-link>

        <router-link
          v-if="false"
          to="/private-office/orders"
          active-class="private-sidebar__link--active"
          class="private-sidebar__link"
        >
          <svg
            width="20"
            height="19"
            viewBox="0 0 20 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.59821 0C2.05831 0 1.54052 0.214476 1.15875 0.596247C0.776976 0.978017 0.5625 1.49581 0.5625 2.03571V16.9643C0.5625 17.5042 0.776976 18.022 1.15875 18.4038C1.54052 18.7855 2.05831 19 2.59821 19H17.5268C18.0667 19 18.5845 18.7855 18.9663 18.4038C19.348 18.022 19.5625 17.5042 19.5625 16.9643V2.03571C19.5625 1.49581 19.348 0.978017 18.9663 0.596247C18.5845 0.214476 18.0667 0 17.5268 0H2.59821ZM15.9715 4.60886C16.0347 4.67189 16.0848 4.74677 16.119 4.82921C16.1532 4.91165 16.1709 5.00003 16.1709 5.08929C16.1709 5.17854 16.1532 5.26692 16.119 5.34936C16.0848 5.4318 16.0347 5.50668 15.9715 5.56971L13.5965 7.94471C13.4729 8.06819 13.3064 8.13923 13.1317 8.14302C12.957 8.14681 12.7876 8.08307 12.6587 7.96507L11.6409 7.03543C11.5148 6.91246 11.4415 6.7453 11.4364 6.56926C11.4313 6.39323 11.4949 6.22211 11.6136 6.09208C11.7324 5.96204 11.897 5.88327 12.0728 5.8724C12.2486 5.86154 12.4217 5.91943 12.5556 6.03386L13.0944 6.52514L15.0106 4.60886C15.0737 4.54566 15.1486 4.49553 15.231 4.46132C15.3134 4.42711 15.4018 4.4095 15.4911 4.4095C15.5803 4.4095 15.6687 4.42711 15.7511 4.46132C15.8336 4.49553 15.9085 4.54566 15.9715 4.60886ZM15.9715 11.3946C16.0347 11.4576 16.0848 11.5325 16.119 11.6149C16.1532 11.6974 16.1709 11.7857 16.1709 11.875C16.1709 11.9643 16.1532 12.0526 16.119 12.1351C16.0848 12.2175 16.0347 12.2924 15.9715 12.3554L13.5965 14.7304C13.4729 14.8539 13.3064 14.9249 13.1317 14.9287C12.957 14.9325 12.7876 14.8688 12.6587 14.7508L11.6409 13.8211C11.5148 13.6982 11.4415 13.531 11.4364 13.355C11.4313 13.1789 11.4949 13.0078 11.6136 12.8778C11.7324 12.7478 11.897 12.669 12.0728 12.6581C12.2486 12.6473 12.4217 12.7051 12.5556 12.8196L13.0944 13.3122L15.0106 11.3946C15.0737 11.3314 15.1486 11.2812 15.231 11.247C15.3134 11.2128 15.4018 11.1952 15.4911 11.1952C15.5803 11.1952 15.6687 11.2128 15.7511 11.247C15.8336 11.2812 15.9085 11.3314 15.9715 11.3946ZM5.3125 12.2143H8.70536C8.88533 12.2143 9.05792 12.2858 9.18518 12.413C9.31244 12.5403 9.38393 12.7129 9.38393 12.8929C9.38393 13.0728 9.31244 13.2454 9.18518 13.3727C9.05792 13.4999 8.88533 13.5714 8.70536 13.5714H5.3125C5.13253 13.5714 4.95993 13.4999 4.83268 13.3727C4.70542 13.2454 4.63393 13.0728 4.63393 12.8929C4.63393 12.7129 4.70542 12.5403 4.83268 12.413C4.95993 12.2858 5.13253 12.2143 5.3125 12.2143ZM4.63393 6.10714C4.63393 5.92717 4.70542 5.75458 4.83268 5.62732C4.95993 5.50006 5.13253 5.42857 5.3125 5.42857H8.70536C8.88533 5.42857 9.05792 5.50006 9.18518 5.62732C9.31244 5.75458 9.38393 5.92717 9.38393 6.10714C9.38393 6.28711 9.31244 6.45971 9.18518 6.58697C9.05792 6.71422 8.88533 6.78571 8.70536 6.78571H5.3125C5.13253 6.78571 4.95993 6.71422 4.83268 6.58697C4.70542 6.45971 4.63393 6.28711 4.63393 6.10714Z"
              fill="currentColor"
            />
          </svg>

          <span>Заказы</span>
        </router-link>
      </nav>
    </div>
    <div class="private-sidebar__logout" @click="logout">
      <button class="private-sidebar__link private-sidebar__logout-btn" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="21"
          viewBox="0 0 20 21"
          fill="none"
        >
          <path
            d="M10 20.5C4.477 20.5 0 16.023 0 10.5C0 4.977 4.477 0.5 10 0.5C15.523 0.5 20 4.977 20 
          10.5C20 16.023 15.523 20.5 10 20.5ZM5 9.5V6.5L0 10.5L5 14.5V11.5H13V9.5H5Z"
            fill="currentColor"
          />
        </svg>

        <span>
          <div>Выйти</div>
        </span>
      </button>
    </div>
  </div>
</template>

<script>
import Cookies from "vue-cookies";
import { user } from "@/modules/helper";

export default {
  name: "sidebar-private-office",
  props: ["userName"],
  data() {
    return {};
  },
  created() {
    const width = document.documentElement.clientWidth;

    if (width <= 620) {
      window.addEventListener("scroll", this.handleScroll);
    }
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      const scrolled = window.scrollY;

      if (scrolled > (window.innerHeight * 12) / 100) {
        this.$refs.sidebar.style.top = "0px";
        this.$refs.sidebar.style.position = "fixed";
      } else {
        this.$refs.sidebar.style.top = "12vh";
        this.$refs.sidebar.style.position = "absolute";
      }
    },
    logout() {
      user
        .logout()
        .then(res => {
          Cookies.remove("Token");
          window.localStorage.removeItem("user");

          window.location.href = "/";
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>

<style lang="scss">
.sidebar-private-office {
  margin-left: 10px;
  max-width: 255px;
  width: 100%;
  border: 1px solid rgba(247, 252, 255, 0.25);
  border-top: none;
}
.private-sidebar__header {
  width: 100%;
  background: rgba(56, 93, 249, 0.07);
  padding: 1.2rem 1rem;
  border-bottom: 1px solid rgba(247, 252, 255, 0.25);
}
.private-sidebar__logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1.25rem;
  border: 1px solid;
  border-radius: 80px;
}
.private-sidebar__title {
  font-size: 1.1rem;
  font-family: Benzin-Bold;
  color: white;
  text-transform: uppercase;
}
.private-sidebar__nav-wrapper {
  padding: 2rem 0.5rem;
  border-bottom: 1px solid rgba(247, 252, 255, 0.25);
}
.private-sidebar__link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.2rem;
  font-size: 0.88rem;
  font-family: Inter;
  font-weight: 500;
  color: #59596c;
  border: none;
  background: none;
  transition: 0.5s;
  svg {
    width: 20px;
    height: auto;
  }
  span {
    margin-left: 1.6rem;
  }
  &:hover,
  &--active {
    color: #385df9;
    background: rgba(56, 93, 249, 0.07);
    border-radius: 4px;
    text-decoration: none;
  }
  & + & {
    margin-top: 0.5rem;
  }
}
.private-sidebar__logout {
  padding: 2.5rem 0.5rem;
}
.private-sidebar__logout-btn {
  width: 100%;
  text-align: start;
  color: #59596c;
}

@media screen and (max-width: 620px) {
  .private-sidebar__nav-wrapper {
    padding: 0.5rem 0.25rem;
  }
  .sidebar-private-office {
    border-top: 1px solid rgba(247, 252, 255, 0.25);
    left: 2px;
    top: calc(12vh);
    margin-left: 0;
    position: absolute;
    z-index: 2;
    max-width: 60px;
    background: #0f0f2c;
  }
  .private-sidebar__header {
    background: unset;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
  }
  .private-sidebar__logo {
    margin-bottom: 0;
    height: 40px;
    width: 40px;
  }
  .private-sidebar__title {
    display: none;
  }
  .private-sidebar__link {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.6rem;
    span {
      display: none;
    }
  }
  .private-sidebar__link + .private-sidebar__link {
    margin-top: 1rem;
  }
  .private-sidebar__logout {
    padding: 0.5rem 0.6rem;
  }
}
</style>
